In [ ]:
# -*- coding: utf-8 -*-
"""
math.ipynb
====================================
Basic script to create the mathematical model (no best practices)

@author:
     - j.rodriguez.villegas
"""

In [1]:
# Coding the convex relaxed linear problem using Pyomo

#Import the libraries

import numpy as np
import pandas as pd
import pyomo.environ as pe
import pyomo.opt as po
import matplotlib.pyplot as plt

from pyomo.environ import *

In [2]:
# Declare the path to read the data
url = 'C:/Users/j.rodriguez.villegas/Documents/optimization/01_data/configuration_file.xlsx'

# Read the data
df = pd.read_excel(url, sheet_name = 'Historical_data')
df.head(15)

,Date,Asset,Open,High,Low,Close,Adj Close,Volume,ROI
0,2013-09-01,AAPL,17.610000,18.140000,15.970000,17.030000,14.860000,8630941200,-0.156161
1,2013-09-01,ACN,72.720001,78.339996,72.360001,73.639999,61.282059,70562800,-0.157287
2,2013-09-01,AMZN,14.236500,16.028500,14.208500,15.632000,15.632000,869376000,0.098023
3,2013-09-01,GOOG,21.279240,22.565170,21.269028,21.815977,21.815977,1329906200,0.025224
4,2013-09-01,SLB,81.690002,89.720001,81.680000,88.360001,67.575027,126421200,-0.172787
5,2013-09-01,TSLA,11.560000,12.966667,10.567333,12.891333,12.891333,2568159000,0.115167
6,2013-09-01,META,41.840000,51.599998,41.439999,50.230000,50.230000,1583083800,0.200526
7,2013-09-01,CRM,49.459999,54.250000,48.020000,51.910000,51.910000,105773900,0.049535
8,2013-09-01,V,44.007500,50.215000,43.762501,47.775002,44.554924,284857200,0.012439
9,2013-09-01,KR,18.485001,20.709999,18.355000,20.170000,16.831999,176151400,-0.089424
10,2013-09-01,MCD,95.099998,98.989998,94.120003,96.209999,73.696480,83958900,-0.225063
11,2013-09-01,KO,38.270000,39.669998,37.750000,37.880001,27.622013,300960000,-0.278233
12,2013-09-01,JPM,51.250000,53.930000,50.060001,51.689999,39.099617,434870300,-0.237081
13,2013-09-01,JNJ,86.889999,90.720001,86.000000,86.690002,66.100693,158876500,-0.239260
14,2013-09-01,PFE,26.925997,27.770397,26.432638,27.258064,18.945776,535658293,-0.296376